In [1]:
import pandas as pd

df_accident = pd.read_csv("FARS/accident.csv", encoding="latin-1")
df_person = pd.read_csv("FARS/person.csv", encoding="latin-1")
df_vehicle = pd.read_csv("FARS/vehicle.csv", encoding="latin-1")

print(f"File ACCIDENT: {df_accident.shape[0]} righe, {df_accident.shape[1]} colonne")
print(f"File PERSON: {df_person.shape[0]} righe, {df_person.shape[1]} colonne")
print(f"File VEHICLE: {df_vehicle.shape[0]} righe, {df_vehicle.shape[1]} colonne")

C:\Users\vince\AppData\Local\Temp\ipykernel_10940\3984471022.py:5: DtypeWarning: Columns (53,63,67) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vehicle = pd.read_csv("FARS/vehicle.csv", encoding="latin-1")

File ACCIDENT: 37654 righe, 80 colonne
File PERSON: 92400 righe, 126 colonne
File VEHICLE: 58319 righe, 203 colonne

In [2]:
print("Colonne in ACCIDENT:", df_accident.columns.tolist())
print("\n")

print("Colonne in PERSON:", df_person.columns.tolist())
print("\n")

print("Colonne in VEHICLE:", df_vehicle.columns.tolist())
print("\n")

Colonne in ACCIDENT: ['STATE', 'STATENAME', 'ST_CASE', 'PEDS', 'PERNOTMVIT', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PERSONS', 'PERMVIT', 'COUNTY', 'COUNTYNAME', 'CITY', 'CITYNAME', 'MONTH', 'MONTHNAME', 'DAY', 'DAYNAME', 'DAY_WEEK', 'DAY_WEEKNAME', 'YEAR', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'TWAY_ID', 'TWAY_ID2', 'ROUTE', 'ROUTENAME', 'RUR_URB', 'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'RD_OWNER', 'RD_OWNERNAME', 'NHS', 'NHSNAME', 'SP_JUR', 'SP_JURNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDE', 'LATITUDENAME', 'LONGITUD', 'LONGITUDNAME', 'HARM_EV', 'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'RELJCT1', 'RELJCT1NAME', 'RELJCT2', 'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'REL_ROAD', 'REL_ROADNAME', 'WRK_ZONE', 'WRK_ZONENAME', 'LGT_COND', 'LGT_CONDNAME', 'WEATHER', 'WEATHERNAME', 'SCH_BUS', 'SCH_BUSNAME', 'RAIL', 'RAILNAME', 'NOT_HOUR', 'NOT_HOURNAME', 'NOT_MIN', 'NOT_MINNAME', 'ARR_HOUR', 'ARR_HOURNAME', 'ARR_MIN', 'ARR_MINNAME', 'HOSP_HR', 'HOSP_HRNAME', 'HOSP_MN', 'HOSP_MNNAME', 'FATALS']


Colonne in PERSON: ['STATE', 'STATENAME', 'ST_CASE', 'VEH_NO', 'PER_NO', 'VE_FORMS', 'COUNTY', 'MONTH', 'MONTHNAME', 'DAY', 'DAYNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'HARM_EV', 'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'SCH_BUS', 'SCH_BUSNAME', 'RUR_URB', 'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'VPICMAKE', 'VPICMAKENAME', 'VPICMODEL', 'VPICMODELNAME', 'VPICBODYCLASS', 'VPICBODYCLASSNAME', 'MAKE', 'MAKENAME', 'BODY_TYP', 'BODY_TYPNAME', 'ICFINALBODY', 'ICFINALBODYNAME', 'GVWR_FROM', 'GVWR_FROMNAME', 'GVWR_TO', 'GVWR_TONAME', 'TOW_VEH', 'TOW_VEHNAME', 'SPEC_USE', 'SPEC_USENAME', 'EMER_USE', 'EMER_USENAME', 'ROLLOVER', 'ROLLOVERNAME', 'IMPACT1', 'IMPACT1NAME', 'FIRE_EXP', 'FIRE_EXPNAME', 'MAK_MOD', 'MAK_MODNAME', 'AGE', 'AGENAME', 'SEX', 'SEXNAME', 'PER_TYP', 'PER_TYPNAME', 'INJ_SEV', 'INJ_SEVNAME', 'SEAT_POS', 'SEAT_POSNAME', 'REST_USE', 'REST_USENAME', 'REST_MIS', 'REST_MISNAME', 'HELM_USE', 'HELM_USENAME', 'HELM_MIS', 'HELM_MISNAME', 'AIR_BAG', 'AIR_BAGNAME', 'EJECTION', 'EJECTIONNAME', 'EJ_PATH', 'EJ_PATHNAME', 'EXTRICAT', 'EXTRICATNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_STATUS', 'ALC_STATUSNAME', 'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME', 'DRUGS', 'DRUGSNAME', 'DSTATUS', 'DSTATUSNAME', 'HOSPITAL', 'HOSPITALNAME', 'DOA', 'DOANAME', 'DEATH_MO', 'DEATH_MONAME', 'DEATH_DA', 'DEATH_DANAME', 'DEATH_YR', 'DEATH_YRNAME', 'DEATH_TM', 'DEATH_TMNAME', 'DEATH_HR', 'DEATH_HRNAME', 'DEATH_MN', 'DEATH_MNNAME', 'LAG_HRS', 'LAG_HRSNAME', 'LAG_MINS', 'LAG_MINSNAME', 'STR_VEH', 'DEVTYPE', 'DEVTYPENAME', 'DEVMOTOR', 'DEVMOTORNAME', 'LOCATION', 'LOCATIONNAME', 'WORK_INJ', 'WORK_INJNAME', 'HISPANIC', 'HISPANICNAME']


Colonne in VEHICLE: ['STATE', 'STATENAME', 'ST_CASE', 'VEH_NO', 'VE_FORMS', 'MONTH', 'MONTHNAME', 'DAY', 'DAYNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'HARM_EV', 'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'NUMOCCS', 'NUMOCCSNAME', 'UNITTYPE', 'UNITTYPENAME', 'HIT_RUN', 'HIT_RUNNAME', 'REG_STAT', 'REG_STATNAME', 'OWNER', 'OWNERNAME', 'VIN', 'VINNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'VPICMAKE', 'VPICMAKENAME', 'VPICMODEL', 'VPICMODELNAME', 'VPICBODYCLASS', 'VPICBODYCLASSNAME', 'MAKE', 'MAKENAME', 'BODY_TYP', 'BODY_TYPNAME', 'ICFINALBODY', 'ICFINALBODYNAME', 'GVWR_FROM', 'GVWR_FROMNAME', 'GVWR_TO', 'GVWR_TONAME', 'TOW_VEH', 'TOW_VEHNAME', 'TRLR1VIN', 'TRLR1VINNAME', 'TRLR2VIN', 'TRLR2VINNAME', 'TRLR3VIN', 'TRLR3VINNAME', 'TRLR1GVWR', 'TRLR1GVWRNAME', 'TRLR2GVWR', 'TRLR2GVWRNAME', 'TRLR3GVWR', 'TRLR3GVWRNAME', 'J_KNIFE', 'J_KNIFENAME', 'MCARR_ID', 'MCARR_IDNAME', 'MCARR_I1', 'MCARR_I1NAME', 'MCARR_I2', 'MCARR_I2NAME', 'V_CONFIG', 'V_CONFIGNAME', 'CARGO_BT', 'CARGO_BTNAME', 'HAZ_INV', 'HAZ_INVNAME', 'HAZ_PLAC', 'HAZ_PLACNAME', 'HAZ_ID', 'HAZ_IDNAME', 'HAZ_CNO', 'HAZ_CNONAME', 'HAZ_REL', 'HAZ_RELNAME', 'BUS_USE', 'BUS_USENAME', 'SPEC_USE', 'SPEC_USENAME', 'EMER_USE', 'EMER_USENAME', 'TRAV_SP', 'TRAV_SPNAME', 'UNDEROVERRIDE', 'UNDEROVERRIDENAME', 'ROLLOVER', 'ROLLOVERNAME', 'ROLINLOC', 'ROLINLOCNAME', 'IMPACT1', 'IMPACT1NAME', 'DEFORMED', 'DEFORMEDNAME', 'TOWED', 'TOWEDNAME', 'M_HARM', 'M_HARMNAME', 'FIRE_EXP', 'FIRE_EXPNAME', 'MAK_MOD', 'MAK_MODNAME', 'VIN_1', 'VIN_2', 'VIN_3', 'VIN_4', 'VIN_5', 'VIN_6', 'VIN_7', 'VIN_8', 'VIN_9', 'VIN_10', 'VIN_11', 'VIN_12', 'DR_DRINK', 'DR_DRINKNAME', 'DR_PRES', 'DR_PRESNAME', 'L_STATE', 'L_STATENAME', 'DR_ZIP', 'DR_ZIPNAME', 'L_TYPE', 'L_TYPENAME', 'L_STATUS', 'L_STATUSNAME', 'CDL_STAT', 'CDL_STATNAME', 'L_ENDORS', 'L_ENDORSNAME', 'L_COMPL', 'L_COMPLNAME', 'L_RESTRI', 'L_RESTRINAME', 'DR_HGT', 'DR_HGTNAME', 'DR_WGT', 'DR_WGTNAME', 'PREV_ACC', 'PREV_ACCNAME', 'PREV_SUS1', 'PREV_SUS1NAME', 'PREV_SUS2', 'PREV_SUS2NAME', 'PREV_SUS3', 'PREV_SUS3NAME', 'PREV_DWI', 'PREV_DWINAME', 'PREV_SPD', 'PREV_SPDNAME', 'PREV_OTH', 'PREV_OTHNAME', 'FIRST_MO', 'FIRST_MONAME', 'FIRST_YR', 'FIRST_YRNAME', 'LAST_MO', 'LAST_MONAME', 'LAST_YR', 'LAST_YRNAME', 'SPEEDREL', 'SPEEDRELNAME', 'VTRAFWAY', 'VTRAFWAYNAME', 'VNUM_LAN', 'VNUM_LANNAME', 'VSPD_LIM', 'VSPD_LIMNAME', 'VALIGN', 'VALIGNNAME', 'VPROFILE', 'VPROFILENAME', 'VPAVETYP', 'VPAVETYPNAME', 'VSURCOND', 'VSURCONDNAME', 'VTRAFCON', 'VTRAFCONNAME', 'VTCONT_F', 'VTCONT_FNAME', 'P_CRASH1', 'P_CRASH1NAME', 'P_CRASH2', 'P_CRASH2NAME', 'P_CRASH3', 'P_CRASH3NAME', 'PCRASH4', 'PCRASH4NAME', 'PCRASH5', 'PCRASH5NAME', 'ACC_TYPE', 'ACC_TYPENAME', 'ACC_CONFIG', 'ACC_CONFIGNAME', 'MODEL', 'DEATHS']

In [3]:
accident_cols_to_keep = [
    'ST_CASE',
    'FATALS',
    'MONTHNAME',
    'DAY_WEEKNAME',
    'HOUR',
    'WEATHERNAME',
    'LGT_CONDNAME',
    'MAN_COLLNAME',
    'REL_ROADNAME',
    'TYP_INTNAME',
]

vehicle_cols_to_keep = [
    'ST_CASE',
    'VEH_NO',
    'BODY_TYPNAME',
    'MOD_YEAR',
    'DEFORMEDNAME',
    'P_CRASH1NAME',
    'P_CRASH2NAME',
    'P_CRASH3NAME',
    'SPEEDRELNAME',
    'V_CONFIGNAME',
    'J_KNIFENAME',
    'UNDEROVERRIDENAME',
    'CARGO_BTNAME',
    'HAZ_INVNAME',
    'PREV_DWINAME',
    'PREV_SPDNAME',
]

person_cols_to_keep = [
    'ST_CASE',
    'VEH_NO',
    'PER_NO',
    'PER_TYPNAME',
    'AGE',
    'SEXNAME',
    'DRINKINGNAME',
    'DRUGSNAME',
    'INJ_SEVNAME',
]

acc_df_filtered = df_accident[accident_cols_to_keep].copy()
veh_df_filtered = df_vehicle[vehicle_cols_to_keep].copy()
per_df_filtered = df_person[person_cols_to_keep].copy()

print("New columns shape ACCIDENT:", acc_df_filtered.shape[1])
print("New columns shape VEHICLE:", veh_df_filtered.shape[1])
print("New columns shape PERSON:", per_df_filtered.shape[1])

New columns shape ACCIDENT: 10
New columns shape VEHICLE: 16
New columns shape PERSON: 9

In [4]:
acc_df_filtered.head()

,ST_CASE,FATALS,MONTHNAME,DAY_WEEKNAME,HOUR,WEATHERNAME,LGT_CONDNAME,MAN_COLLNAME,REL_ROADNAME,TYP_INTNAME
0,10001,1,January,Wednesday,22,Clear,Dark - Not Lighted,The First Harmful Event was Not a Collision wi...,On Roadside,Not an Intersection
1,10002,1,March,Monday,2,Clear,Dark - Not Lighted,The First Harmful Event was Not a Collision wi...,On Roadside,Not an Intersection
2,10003,1,March,Saturday,22,Clear,Dark - Not Lighted,The First Harmful Event was Not a Collision wi...,On Roadside,Not an Intersection
3,10004,1,March,Friday,19,Rain,Dark - Not Lighted,The First Harmful Event was Not a Collision wi...,On Roadside,Not an Intersection
4,10005,1,March,Friday,14,Rain,Daylight,The First Harmful Event was Not a Collision wi...,On Roadside,Not an Intersection

In [6]:
veh_df_filtered.head()

,ST_CASE,VEH_NO,BODY_TYPNAME,MOD_YEAR,DEFORMEDNAME,P_CRASH1NAME,P_CRASH2NAME,P_CRASH3NAME,SPEEDRELNAME,V_CONFIGNAME,J_KNIFENAME,UNDEROVERRIDENAME,CARGO_BTNAME,HAZ_INVNAME,PREV_DWINAME,PREV_SPDNAME
0,10001,1,"Compact Utility (Utility Vehicle Categories ""S...",1996,Disabling Damage,Going Straight,Off the edge of the road on the right side,Steering left,No,Not Applicable,Not an Articulated Vehicle,Not Applicable,Not Applicable (N/A),No,NaN,1
1,10002,1,5-door/4-door hatchback,2010,Disabling Damage,Going Straight,Off the edge of the road on the left side,Unknown/Not Reported,No,Not Applicable,Not an Articulated Vehicle,Not Applicable,Not Applicable (N/A),No,NaN,NaN
2,10003,1,"4-door sedan, hardtop",2006,Disabling Damage,Negotiating a Curve,Off the edge of the road on the left side,Unknown/Not Reported,"Yes, Exceeded Speed Limit",Not Applicable,Not an Articulated Vehicle,Not Applicable,Not Applicable (N/A),No,NaN,NaN
3,10004,1,Station Wagon (excluding van and truck based),2018,Disabling Damage,Negotiating a Curve,Animal in road,Steering right,"Yes, Exceeded Speed Limit",Not Applicable,Not an Articulated Vehicle,Not Applicable,Not Applicable (N/A),No,NaN,NaN
4,10005,1,"4-door sedan, hardtop",1996,Disabling Damage,Going Straight,Traveling Too Fast for Conditions or Road Conf...,Unknown/Not Reported,"Yes, Too Fast for Conditions",Not Applicable,Not an Articulated Vehicle,Not Applicable,Not Applicable (N/A),No,NaN,NaN

In [7]:
per_df_filtered.head()

,ST_CASE,VEH_NO,PER_NO,PER_TYPNAME,AGE,SEXNAME,DRINKINGNAME,DRUGSNAME,INJ_SEVNAME
0,10001,1,1,Driver of a Motor Vehicle In-Transport,33,Male,No (Alcohol Not Involved),No (drugs not involved),Fatal Injury (K)
1,10002,1,1,Driver of a Motor Vehicle In-Transport,32,Female,Yes (Alcohol Involved),Reported as Unknown,Fatal Injury (K)
2,10003,1,1,Driver of a Motor Vehicle In-Transport,21,Female,No (Alcohol Not Involved),No (drugs not involved),Fatal Injury (K)
3,10004,1,1,Driver of a Motor Vehicle In-Transport,54,Male,Yes (Alcohol Involved),No (drugs not involved),Suspected Serious Injury (A)
4,10004,1,2,Passenger of a Motor Vehicle In-Transport,53,Male,Not Reported,Not Reported,Suspected Serious Injury (A)

In [12]:
df_merged = pd.merge(acc_df_filtered, veh_df_filtered, on='ST_CASE', how='left')

df_final = pd.merge(df_merged, per_df_filtered, on=['ST_CASE', 'VEH_NO'], how='left')

print("Dimensione del dataset finale:", df_final.shape)
print(df_final.head())

Dimensione del dataset finale: (82956, 32)
   ST_CASE  FATALS MONTHNAME DAY_WEEKNAME  HOUR WEATHERNAME  \
0    10001       1   January    Wednesday    22       Clear
1    10002       1     March       Monday     2       Clear
2    10003       1     March     Saturday    22       Clear
3    10004       1     March       Friday    19        Rain
4    10004       1     March       Friday    19        Rain

         LGT_CONDNAME                                       MAN_COLLNAME  \
0  Dark - Not Lighted  The First Harmful Event was Not a Collision wi...
1  Dark - Not Lighted  The First Harmful Event was Not a Collision wi...
2  Dark - Not Lighted  The First Harmful Event was Not a Collision wi...
3  Dark - Not Lighted  The First Harmful Event was Not a Collision wi...
4  Dark - Not Lighted  The First Harmful Event was Not a Collision wi...

  REL_ROADNAME          TYP_INTNAME  ...  HAZ_INVNAME PREV_DWINAME  \
0  On Roadside  Not an Intersection  ...           No          NaN
1  On Roadside  Not an Intersection  ...           No          NaN
2  On Roadside  Not an Intersection  ...           No          NaN
3  On Roadside  Not an Intersection  ...           No          NaN
4  On Roadside  Not an Intersection  ...           No          NaN

   PREV_SPDNAME PER_NO                                PER_TYPNAME   AGE  \
0             1    1.0     Driver of a Motor Vehicle In-Transport  33.0
1           NaN    1.0     Driver of a Motor Vehicle In-Transport  32.0
2           NaN    1.0     Driver of a Motor Vehicle In-Transport  21.0
3           NaN    1.0     Driver of a Motor Vehicle In-Transport  54.0
4           NaN    2.0  Passenger of a Motor Vehicle In-Transport  53.0

  SEXNAME               DRINKINGNAME                DRUGSNAME  \
0    Male  No (Alcohol Not Involved)  No (drugs not involved)
1  Female     Yes (Alcohol Involved)      Reported as Unknown
2  Female  No (Alcohol Not Involved)  No (drugs not involved)
3    Male     Yes (Alcohol Involved)  No (drugs not involved)
4    Male               Not Reported             Not Reported

                    INJ_SEVNAME
0              Fatal Injury (K)
1              Fatal Injury (K)
2              Fatal Injury (K)
3  Suspected Serious Injury (A)
4  Suspected Serious Injury (A)

[5 rows x 32 columns]

In [6]:
print(df_final.isnull().sum())

ST_CASE                  0
FATALS                   0
MONTHNAME                0
DAY_WEEKNAME             0
HOUR                     0
WEATHERNAME              0
LGT_CONDNAME             0
MAN_COLLNAME             0
REL_ROADNAME             0
TYP_INTNAME              0
VEH_NO                   0
BODY_TYPNAME             0
MOD_YEAR                 0
DEFORMEDNAME             0
P_CRASH1NAME             0
P_CRASH2NAME             0
P_CRASH3NAME             0
SPEEDRELNAME             0
V_CONFIGNAME             0
J_KNIFENAME              0
UNDEROVERRIDENAME        0
CARGO_BTNAME             0
HAZ_INVNAME              0
PREV_DWINAME         76787
PREV_SPDNAME         65603
PER_NO                 299
PER_TYPNAME            299
AGE                    299
SEXNAME                299
DRINKINGNAME           299
DRUGSNAME              299
INJ_SEVNAME            299
dtype: int64

In [7]:
cols_to_remove = ['PREV_DWINAME', 'PREV_SPDNAME']
df_final.drop(columns=cols_to_remove, inplace=True)

print(f"Rimosse le colonne: {cols_to_remove}")

Rimosse le colonne: ['PREV_DWINAME', 'PREV_SPDNAME']

In [8]:
print(df_final.isnull().sum())

ST_CASE                0
FATALS                 0
MONTHNAME              0
DAY_WEEKNAME           0
HOUR                   0
WEATHERNAME            0
LGT_CONDNAME           0
MAN_COLLNAME           0
REL_ROADNAME           0
TYP_INTNAME            0
VEH_NO                 0
BODY_TYPNAME           0
MOD_YEAR               0
DEFORMEDNAME           0
P_CRASH1NAME           0
P_CRASH2NAME           0
P_CRASH3NAME           0
SPEEDRELNAME           0
V_CONFIGNAME           0
J_KNIFENAME            0
UNDEROVERRIDENAME      0
CARGO_BTNAME           0
HAZ_INVNAME            0
PER_NO               299
PER_TYPNAME          299
AGE                  299
SEXNAME              299
DRINKINGNAME         299
DRUGSNAME            299
INJ_SEVNAME          299
dtype: int64

In [9]:
df_final.dropna(subset=['PER_NO'], inplace=True)

In [10]:
print(df_final.isnull().sum())

ST_CASE              0
FATALS               0
MONTHNAME            0
DAY_WEEKNAME         0
HOUR                 0
WEATHERNAME          0
LGT_CONDNAME         0
MAN_COLLNAME         0
REL_ROADNAME         0
TYP_INTNAME          0
VEH_NO               0
BODY_TYPNAME         0
MOD_YEAR             0
DEFORMEDNAME         0
P_CRASH1NAME         0
P_CRASH2NAME         0
P_CRASH3NAME         0
SPEEDRELNAME         0
V_CONFIGNAME         0
J_KNIFENAME          0
UNDEROVERRIDENAME    0
CARGO_BTNAME         0
HAZ_INVNAME          0
PER_NO               0
PER_TYPNAME          0
AGE                  0
SEXNAME              0
DRINKINGNAME         0
DRUGSNAME            0
INJ_SEVNAME          0
dtype: int64

In [11]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 82657 entries, 0 to 82955
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ST_CASE            82657 non-null  int64
 1   FATALS             82657 non-null  int64
 2   MONTHNAME          82657 non-null  object
 3   DAY_WEEKNAME       82657 non-null  object
 4   HOUR               82657 non-null  int64
 5   WEATHERNAME        82657 non-null  object
 6   LGT_CONDNAME       82657 non-null  object
 7   MAN_COLLNAME       82657 non-null  object
 8   REL_ROADNAME       82657 non-null  object
 9   TYP_INTNAME        82657 non-null  object
 10  VEH_NO             82657 non-null  int64
 11  BODY_TYPNAME       82657 non-null  object
 12  MOD_YEAR           82657 non-null  int64
 13  DEFORMEDNAME       82657 non-null  object
 14  P_CRASH1NAME       82657 non-null  object
 15  P_CRASH2NAME       82657 non-null  object
 16  P_CRASH3NAME       82657 non-null  object
 17  SPEEDRELNAME       82657 non-null  object
 18  V_CONFIGNAME       82657 non-null  object
 19  J_KNIFENAME        82657 non-null  object
 20  UNDEROVERRIDENAME  82657 non-null  object
 21  CARGO_BTNAME       82657 non-null  object
 22  HAZ_INVNAME        82657 non-null  object
 23  PER_NO             82657 non-null  float64
 24  PER_TYPNAME        82657 non-null  object
 25  AGE                82657 non-null  float64
 26  SEXNAME            82657 non-null  object
 27  DRINKINGNAME       82657 non-null  object
 28  DRUGSNAME          82657 non-null  object
 29  INJ_SEVNAME        82657 non-null  object
dtypes: float64(2), int64(5), object(23)
memory usage: 19.5+ MB
None

In [17]:
df_final.to_csv('fars_preprocessed.csv', index=False)